*{

    
    font-family: 'Roboto', sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    background-color: white;
    
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: auto;
    justify-items: center;
    background-color: rgb(236, 236, 236);
    height: 100%;
    
    

}

#pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#text{
    display: grid;
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: start;
    font-weight: ;
    font-size: 48px;
    padding-bottom: 35px;
    letter-spacing: 1px;
}

div{
    width: 650px;
    justify-content: center;
    margin: auto;
   
}
h1, h2, h3{
    height: 50%;
    margin: 0;    
}

h2{
    padding-bottom: 20px;
    color: #797a7c;
    font-weight: 500;
}

h3{
    color: #a5a7ab;
    font-weight: 300;
}

